# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx

# Build output
**/bin/
**/obj/

# Node
node_modules/
dist/
*.local

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
